.aside-news {

    &__item {
        margin: 0 0 20px;
    }
    &__date {
        font-size: 13px;
        line-height: 17px;
        color: var(--link);
        margin: 0 0 5px;
    }
    &__name {
        color: var(--black);
        display: block;

        &:hover {
            color: var(--black);
        }
    }
}