.block-title {
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__name,
    &__title {
        color: var(--blacksuper);
        font-weight: 600;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: -.14px;
        display: flex;
        align-items: center;
    }
    &__name:hover {
        color: var(--link);
        text-decoration: none;
    }
    &__icon {
        margin: 0 10px 0 0;
        fill: var(--blacksuper);
        transition: all .3s;

        &_star {
            height: 26px;
            width: 25px;
        }
        &_more-star {
            height: 26px;
            width: 26px;
        }
        &_broadcast {
            height: 26px;
            width: 26px;
            stroke: var(--blacksuper);
        }
        &_video {
            height: 23px;
            width: 28px;
        }
        &_photo {
            height: 21px;
            width: 27px;
        }
        &_two-three {
            height: 19px;
            width: 27px;
        }
    }
    &__name:hover &__icon {
        fill: var(--link);
    }
    &__name:hover &__icon_broadcast {
        stroke: var(--link);
    }

    @include media-breakpoint-only(xs)
    {
        &__name {
            letter-spacing: 0;
        }
        &__icon {
            display: none;
        }
    }
}