.btn {

    &-one,
    &-two,
    &-three,
    &-four,
    &-five {
        line-height: 40px;
        border-radius: 4px;
        text-align: center;
        font-size: 15px;
        padding: 0 40px;
        letter-spacing: .23px;
        display: inline-block;
        transition: all .3s;

        &:hover {
            text-decoration: none;
        }
    }

    &-one {
        border: none;
        background-color: var(--blacksuper);
        color: var(--white_contur);

        &:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }
    &-two {
        border: 1px solid var(--white);
        color: var(--background);
        background-color: var(--black);

        &:hover {
            background-color: var(--blacksuper);
            border-color: var(--gray_contur);
            color: var(--white);
        }
    }
    &-three {
        border: none;
        color: var(--black);
        background-color: var(--white);

        &:hover {
            background-color: var(--background);
            color: var(--link);
        }
    }
    &-four {
        border: none;
        color: var(--link);
        background-color: var(--background);

        &:hover {
            background-color: var(--link);
            color: var(--white);
        }
    }
    &-five {
        border: 1px solid var(--link);
        color: var(--gray_contur);

        &:hover {
            border-color: var(--white);
            color: var(--white);
        }
    }

    &-fixed {
        padding: 0;
        width: 130px;
    }
    &-short {
        padding: 0 15px;
    }
}

@include media-breakpoint-up(sm)
{
    .btn {

        &-lg {
            line-height: 50px;
            padding: 0 20px;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .btn {

        &-one,
        &-two,
        &-three,
        &-four,
        &-five {
            padding: 0 25px;
        }
    }
}