.rss-link {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: var(--link);
    line-height: 15px;
    fill: var(--link);

    &:hover {
        fill: var(--black);
        color: var(--black);
        text-decoration: none;
    }
    &__icon {
        height: 14px;
        width: 14px;
        margin: 0 5px 0 0;
        transition: all .3s;
    }
}