:root {
    --paraphernalia-blue1: #20284e;
    --paraphernalia-blue2: #1463d6;
    --paraphernalia-blue3: #2992fd;
}

.logo10-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;

    @include media-breakpoint-down(sm)
    {
        & {
            display: none;
        }
    }
}

.block10-center {
    max-width: 1420px;
    margin: 0 auto;
    background-color: var(--background);

    &__margin {
        height: 20px;
    }
}

.block10-paraphernalia {
    background: url(img/paraphernalia.bg.jpg) no-repeat center / cover;
    margin: auto;

    &__inner {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn {
        background-image: linear-gradient(90deg,var(--paraphernalia-blue1),var(--paraphernalia-blue2));
        height: 40px;
        padding: 0 55px;
        color: var(--white);
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 27px var(--paraphernalia-blue3);

        &:hover {
            box-shadow: none;
            text-decoration: none;
            color: var(--white);
        }
    }

    @include media-breakpoint-only(xl)
    {
        & {
            max-width: 1420px;

            &__inner {
                max-width: 100%;
                padding: 0 50px;
            }
        }
    }
    @include media-breakpoint-only(lg)
    {
        &__word {
            width: 300px;
        }
        &__head {
            width: 400px;
        }
    }
    @include media-breakpoint-only(md)
    {
        &__head {
            display: none;
        }
    }
    @include media-breakpoint-down(sm)
    {
        &__inner {
            height: auto;
            flex-direction: column;
            padding: 5px 15px 0;
        }
        &__word {
            max-width: 285px;
        }
        &__head {
            margin: 5px 0 -20px;
        }
        &__btn {
            display: none;
        }
    }
}

.block10-tags {
    background: url(img/bg.logos.jpg) no-repeat center / cover;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        display: block;
        margin: auto;
    }

    @include media-breakpoint-down(xs)
    {
        & {
            margin: -30px 0 20px;
        }
    }
}

.block10-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px;

    &__img {
        width: 100%;
    }

    @include media-breakpoint-up(md)
    {
        & {
            display: none;
        }
    }
    @include media-breakpoint-only(sm)
    {
        &__img {
            max-width: 510px;
        }
    }
}